.ContentBody {
  width: 95%;
  max-width: 1200px;
  margin: 2rem auto;
  background: #1e293b;
  border-radius: 12px;
  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.bodyContainer1 {
  flex: 1;
}

.one {
  font-size: 2rem;
  color: #f99047;
  margin-bottom: 20px;
}

.two {
  font-size: 2rem;
  color: white;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: justify;
}

.three {
  color: #cbd5e1;
  line-height: 1.8;
  margin-bottom: 25px;
  text-align: justify;
}

.four {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.downloadBtn,
.F2 {
  padding: 12px 22px;
  background: #22c55e;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}
/* ========================= */
/* BUTTON HOVER ONLY */
/* ========================= */

.downloadBtn,
.F2 {
  transition: all 0.3s ease;
  position: relative;
}

.downloadBtn:hover,
.F2:hover {
  transform: translateY(-3px);
    background: linear-gradient(135deg, #4338ca, #6366f1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

/* ========================= */
/* SOCIAL ICON HOVER ONLY */
/* ========================= */

.socialLinksDiv i {
  transition: all 0.3s ease;
  cursor: pointer;
}

/* GitHub hover */
:global(.fa-github):hover {
  color: #eab308;
  transform: translateY(-4px) scale(1.2);
  text-shadow: 0 0 10px white;
}

/* LinkedIn hover */
:global(.fa-linkedin):hover {
  color: #eab308;
  transform: translateY(-4px) scale(1.2);
  text-shadow: 0 0 10px #0a66c2;
}

.bodyContainer2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pic {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid white;
}

.socialLinksDiv {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.socialLinksDiv i {
  font-size: 28px;
}

:global(.fa-github) {
  color: white;
}

:global(.fa-linkedin) {
  color: #0077b5;
}

/* Mobile */

@media (max-width: 768px) {
  .ContentBody {
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
  }

  .bodyContainer2 {
    order: -1;
  }

  .one {
    font-size: 1.5rem;
  }

  .two {
    font-size: 1.2rem;
  }

  .three {
    font-size: 0.95rem;
    text-align: justify;
  }

  .pic {
    width: 180px;
    height: 180px;
  }

  .four {
    justify-content: center;
  }

  .downloadBtn,
  .F2 {
    width: 100%;
  }
}