/* body{
  margin:0;
  padding:0;
  box-sizing: border-box;
      overflow-x:hidden;
}
body{
    font-family: Arial, sans-serif;
    background:#1d2f4c;
} */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
  background: #1d2f4c;
}